#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /* color-scheme: light dark;  light/dark mode depending on user settings -- customizable UI */
  
}

.layout {
  display: flex;
  padding: 2rem;
  margin: 20px;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 20px;
}

.page {
  background-color: white;
  color: black;
  display: flex;
  justify-content: left;
  border-radius: 10px;
  width: 95%;
  padding: 20px;
  height: 2070px;
  flex-flow: row wrap;
}

.card {
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  width: 250px;
  height: 500px;
  padding: 2em;
  flex-flow: row wrap;
  box-shadow: 8px 8px 8px rgb(36, 35, 35);
}

.card.dark {
  background-color: rgb(40, 59, 50);
  box-shadow: 8px 8px 8px black;
}

.card * {
  color: black;
  width: 200px;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-wrap: row wrap;
}

.card p {
  font-family: Georgia, serif;
  color: #304e39b2;
  font-weight: bolder;
  font-size: 18px;

}

p {
  font-family: Georgia, serif;
  color: #304e39b2;
  font-weight: bolder;
  font-size: 18px;
}

.card.dark p {
  color: white;
}

button {
  height: 50px;
  width: 50px;
  top: 0;
  right: 0;
  padding: 20px;
  background-color: transparent;
  font-size: 30px;
  border-color: transparent;
}

.read-the-docs {
  color: #888888;
}
