:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: light-dark(rgba(255, 255, 255, 0.87), rgb(9, 24, 13));
  background-color: light-dark(#365a41a4, rgb(9, 24, 13));

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  color: rgba(255, 255, 255, 0.87);
  background-color: #365a41a4;
}

body.dark {
  color: rgb(9, 24, 13);
  background-color: rgb(9, 24, 13);
}

h1 {
  color:  #304e39b2;
}

